* {
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 0;
  box-sizing: content-box;
}
body {
  background: black;
  color: rgb(231, 152, 152);
  box-sizing: border-box;
  background-image: url('https://pixabay.com/get/g0665a44f4e282c0689c3b88653f58a4acb0eeb0c5271da7baa103add7fdd42219145031d3d4eeeb071712794ddf4f04047308ee0dbf6dfd666e98c490be15686_1280.jpg');
  background-size: 100vw, 100vh;
  position: relative;
}
.search-form {
  display: block;
  margin: 40px;
}
.gallery {
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.image {
  width: 350px;
  height: 250px;
  margin: 10px 10px 20px;
  display: block;
}
.photo-card {
  background-color: #5c5a5a;
  border-radius: 5px;
  margin-bottom: 20px;
  transition-property: transform;
}
.photo-card .stats {
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.stats {
  padding: 0 5px;
  display: flex;
  align-items: center;
}
